<footer class="site-footer">
    <div class="row">
	    <div class="three columns">
		    <ul>
		    	<li>Based in Pittsburgh, PA</li>
		    	<li>843.263.9243</li>
		    	<li>julie.eckstrom@gmail.com</li>
		    </ul>
		</div>
	    <div class="six columns">
	    	<a href="../"><div class="site-title"></div></a>
	    </div>
	    <div class="three columns">
		    <ul class="social">
		    	<li class="linked-in"><div class="icon"><a target="_blank" href="https://www.linkedin.com/in/julieeckstrom"><img src="/assets/icons/social-linkedin-white.svg"></a></div></li>
		    </ul>
		</div>
	</div>
</footer>
