<footer class="site-footer">
    <div class="footer-wrapper">
		<div class="bio-image">
    		<img src="/assets/img/julie.jpg">
    	</div>
    	<div class="bio">
			<p>Hey, I'm Julie! I'm a product designer in Pittsburgh, PA. Right now, I'm designing internal tools for Uber's self-driving cars. My background spans from designing human-robot interactions in retail spaces to perfecting mobile and desktop e-commerce sites for well-known American brands.</p>

			<div class="contact">
	    		<div class="button accent">Linked In</div>
	    		<div class="button accent">Resume</div>
	    		<div class="contact-text">julie.eckstrom@gmail.com</div>
	    	</div>
	    </div>
	</div>
</footer>
