<footer class="site-footer">
    <div class="row">
	    <div class="three columns">
		    <ul>
		    	<li>Based in Pittsburgh, PA</li>
		    	<li>843.263.9243</li>
		    	<li>julie.eckstrom@gmail.com</li>
		    </ul>
		</div>
	    <div class="five columns">
	    	<div class="site-title"></div>
	    	<ul class="footer-nav">
	    		{% include navigation-list.html %}
	    	</ul>
	    </div>
	    <div class="three columns">
		    <ul>
				<li class="twitter"></li>
		    	<li class="linked-in"></li>
		    </ul>
		</div>
	</div>
</footer>
