{% assign project = include.project %}

<a href="{{ project.url | prepend: site.baseurl }}">
<div class="project-tile">
	<div class="project-image" style="background-image: url(..{{ project.images[0].url }})"></div>
	<div class="project-overlay"></div>
	<div class="project-info">
		<h3><span>{{ project.organization }}</span><span class="separator">//</span><span>{{ project.year }}</span></h3>
		<div class="display-2">{{ project.title }}</div>
		<div class="project-link button primary">View Project</div>
	</div>
</div>
</a>