{% assign currentNumber = include.order %}

{% if currentNumber == site.projects.size %}
	{% assign next = 1 %}
{% else %}
	{% assign next = currentNumber | plus:1 %}
{% endif %}


{% if currentNumber == 1 %}
	{% assign previous = 7 %}
{% else %}
	{% assign previous = currentNumber | minus:1 %}
{% endif %}


{% assign next_project = site.projects | where:"order", next %}
{% assign previous_project = site.projects | where:"order", previous %}

{% assign close_projects = previous_project,next_project %}
{% assign close_projects = close_projects | push:next_project[0] %}

<h1>More of my work...</h1>
{% for project in close_projects %}
	{% include individual-project.html project=project %}
{% endfor %}