/**
 * Site header
 */
.site-header {
    min-height: 56px;
    padding: 2.6em 0;

    // Positioning context for the mobile navigation icon
    position: relative;

    @include media-query($small) {
        padding: 1.5em 0;
    }

    &.bleed {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;

        .site-nav {
            .page-link {
                color: $background-color;
            }
        }

        .site-title {
            background-position: 0 -1px;
        }
    }

    .site-title {
        width: 220px;
        height: 85px;
        display: inline-block;
        vertical-align: top;
        background-image: url("/assets/img/logo.svg");
        background-size: 220px;
        background-position: 0 -161px;
        background-repeat: no-repeat;
        cursor: pointer;

        &:hover {
            background-position: 0 -81px;
        }

        @include media-query($small) {
            line-height: 25px;
            height: 40px;
        }
    }

    .site-nav {
        float: right;
        line-height: 56px;

        .menu-icon {
            display: none;
        }

        .page-link {
            color: $text-color;
            font-size: 1.6em;
            text-transform: uppercase;
            line-height: $base-line-height;
            padding-bottom: 0.5em;

            // Gaps between nav items, but not on the last one
            &:not(:last-child) {
                margin-right: 40px;

                @include media-query($medium) {
                    margin-right: 25px;
                }
            }

            &.active {
                color: $accent-color;
            }

            &:hover {
                border-bottom: 2px solid $accent-color;
            }

        }


        @include media-query($small) {
            position: absolute;
            top: 9px;
            right: $spacing-unit / 2;
            border-radius: 5px;
            text-align: right;

            .close-icon {
                display: none;
            }

            .menu-icon, .close-icon.visible {
                display: block;
                float: right;
                width: 40px;
                height: 30px;
                line-height: 0;
                padding-top: 10px;
                text-align: center;

                > svg {
                    width: 18px;
                    height: 15px;

                    path {
                        fill: $dark-grey;
                    }
                }

                &.invisible {
                    display: none;
                }
            }

            .trigger {
                clear: both;
                display: none;
                background: #ffffff;

                &.open {
                    display: block;
                    padding-bottom: 5px;
                }
            }

            .page-link {
                display: block;
                padding: 5px 10px;

                &:not(:last-child) {
                    margin-right: 0;
                }
                margin-left: 20px;
            }
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $light-grey;
    padding: $spacing-unit*2 $spacing-unit $spacing-unit/2 $spacing-unit;
    background: $dark-grey;

    @include media-query($small) {
        padding: $spacing-unit $spacing-unit/3;

        .site-title {
            margin: 0 auto;
        }

        p {
            margin-top: $spacing-unit;
            font-size: 14px !important;
            text-align: center !important;
        }
    }

    p {
        font-size: 1.2em;
        line-height: 1.5;
        text-align: right;
        color: #555;
        margin-bottom: 0px;
    }

    .site-title {
        width: 190px;
        height: 70px;
        display: inline-block;
        vertical-align: top;
        background-image: url("/assets/img/logo.svg");
        background-size: 190px;
        background-position: 0 -141px;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .site-title, .footer-nav {
        display: inline-block;
        vertical-align: top;
    }

    .footer-nav {
        font-size: 1.2em;
        text-transform: uppercase;
        margin-left: 0px;

        .page-link {
            margin: 0 20px;
            display: block;
            font-size: 16px;
            font-weight: 400;
        }
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}


/* PROJECT */


/* Project grid */

.project-tile {
    height: 600px;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-top: 1px solid $black;

    &.half {
        width: 49%;
        height: 400px;
        display: inline-block;
        border-top: none;
    }

    &:hover {
        .project-overlay {
            background: rgba(0,0,0,0.4);
        }

        .button.primary {
            border: 1px solid $accent-color;
            color: $accent-color;
        }
    }

    .rule {
        border-top: 1px solid $accent-color;
        margin: 1.5em auto;
        width: 30%;
    }

    .project-image img {
        width: 100%;
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
        transform: scale(1.01)
    }

    .project-overlay {
        position: absolute;
        top: 0;
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        transition: background 0.25s; 
        -webkit-transition: background 0.25s;
        -moz-transition: background 0.25s;
        -o-transition: background 0.25s;
    }

    .project-info {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h3 {

        span {
            color: $white;
        }
    }

    .display {
        margin: 0 auto 0.5em;
    }
}

.project {

    .intro {
        height: 600px;
        overflow: hidden;

        @include media-query($medium) {
            height: 600px;
        }

        .hero-image {
            height: 100%;
            background-size: cover;
        }

        .project-header {
            position: absolute;
            text-align: center;
            width: 700px;
            padding: $spacing-unit $spacing-unit/2;
            bottom: 25%;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;

            @include media-query($medium) {
                width: auto;
                margin: 0 10px;
            }

            .dark-bg {
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                background: rgba(0,0,0,0.5);
                z-index: -1;
            }

            p {
                font-weight: 300;
            }

            h2, h3, p {
                width: auto;
            }
        }
    }

    a {
        border-bottom: 1px solid $accent-color;

        &:hover {
            border-bottom: 1px solid $accent-dark;
        }
    }

    h2, h3, p, figcaption, h1 {
        width: 700px;
        margin-left: auto;
        margin-right: auto;

        @include media-query($medium) {
            width: 100%;
        }
    }

    img {
        width: 100%;
    }

    .next-project {
        margin-top: $spacing-unit*2;

        .project-tile {
            width: 49.75%;
            display: inline-block;
            vertical-align: top;
            height: 300px;
            border-top: 0px;

            .display {
                font-size: 2.4em;
            }

            h3 {
                width: auto;
            }
        }
    }

}

.about, .contact {
    display: inline-block;
    margin: 0 2%;
    vertical-align: top;

    @include media-query($small) {
            display: block;
        }
}

.about {
    margin-bottom: $spacing-unit;

    p, h1 {
        max-width: 900px;
        margin-left: 300px;
    }

    @include media-query($large) {
        p, h1 {
            margin-left: 0px;
        }
    }
}

.contact {
    width: 250px;
    border-radius: 10px 50px 10px 50px;
    overflow: hidden;
    background: #f1f1f1;
    float: left;

    .julie {
        width: 100%;
        height: 250px;
        border-radius: 10px 50px 0px 0px;
        background-image: url(/assets/img/julie.jpg);
        background-size: cover;
        background-position: center center;

        img {
            width: 100%;
        }
    }

    ul {
        list-style-type: none;
        width: 250px;
        margin-left: 20%;
        margin-bottom: 0.5em;

        li {
            padding: 10px 0;
            border-bottom: 1px dashed $light-grey;
            width: 100%;
            font-size: 13px;

            &:last-child {
                border-bottom: 0px;
            }

            &:first-child {
                font-size: 16px;
                font-weight: 700;
            }
        }

    }

    @include media-query($large) {
        width: 230px;
        margin: 0 30px 20px 0;
    }
    @include media-query($smallest) {
        height: auto;

        .julie {
            height: 250px;
        }

        .julie, ul {
            display: block;
            width: 100%;
        }

        ul li {
            font-size: 14px;
        }
    }
}