/**
 * Site header
 */
.site-header {
    min-height: 40px;
    padding: 1.1em 0;
    background: $white;

    // Positioning context for the mobile navigation icon
    position: relative;

    @include media-query($small) {
        padding: 1.5em 0;
    }

    .wrapper {
        max-width: 970px;
    }

    &.bleed {
        background: none;

        .site-nav {
            .page-link {
                color: $background-color;
            }

            .menu-icon {
                svg path {
                    fill: $white;
                }
            }
        }
    }

    .site-title {
        font-family: $header-font-family;
        color: $black;
        font-size: 1.6em;
        line-height: 40px;

        &:hover {
            color: $accent-color;
        }
    }

     &.no-name {
        .site-title {
            display: none;
        }
    }

    .site-nav {
        float: right;
        line-height: 40px;

        .menu-icon {
            display: none;
        }

        .page-link {
            color: $medium-grey;
            font-family: $base-font-family;
            font-size: 1.2em;
            text-transform: uppercase;
            line-height: $base-line-height;
            padding-bottom: 0.5em;

            // Gaps between nav items, but not on the last one
            &:not(:last-child) {
                margin-right: 25px;

                @include media-query($medium) {
                    margin-right: 15px;
                }
            }

            &.active {
                color: $accent-color;
            }

            &:hover {
                color: $accent-color;
            }

        }


        @include media-query($small) {
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;

            .close-icon {
                display: none;
            }

            .site-title {
                background-size: 180px;
                background-position: 0 -132px;
                height: 70px;
            }

            .menu-icon, .close-icon.visible {
                display: block;
                float: right;
                width: 40px;
                height: 30px;
                line-height: 0;
                padding-top: 20px;
                text-align: center;

                > svg {
                    width: 18px;
                    height: 15px;

                    path {
                        fill: $black;
                    }
                }
            }

            .trigger {
                clear: both;
                display: none;
                background: $black;

                &.open {
                    display: block;
                    padding-bottom: 5px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    padding-top: 30%;
                }
            }

            .page-link {
                display: block;
                padding: 5px 10px;
                color: $white;
                text-align: center;
                font-size: 3em;
                font-weight: 700;

                &:not(:last-child) {
                    margin-right: 0;
                }
                margin-left: 20px;

                &:hover {
                    border-bottom: 0;
                }
            }
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit*2 $spacing-unit;
    background: $medium-grey;
    font-family: $header-font-family;

    ul {
        list-style-type: none;
        margin: auto;

        li {
            font-size: 12px;
            line-height: 18px;
            text-align: right;
            font-weight: 300;
            color: $dark-grey;
        }
    }

    .footer-wrapper {
        max-width: 970px;
        margin: 0 auto;
    }

    p {
        font-size: 1.2em;
        line-height: 1.5;
        text-align: right;
        color: #555;
        margin-bottom: 0px;
    }

    .footer-contact {
        float: right;
    }

    .footer-nav {
        display: inline-block; 

        .page-link {
            color: $dark-grey;
            font-family: $base-font-family;
            font-size: 1.2em;
            text-transform: uppercase;
            line-height: $base-line-height;
            padding-bottom: 0.5em;


            // Gaps between nav items, but not on the last one
            &:not(:last-child) {
                margin-right: 25px;

                @include media-query($medium) {
                    margin-right: 15px;
                }
            }

            &:hover {
                color: $accent-color;
            }
        }
    }

    @include media-query($small) {
        .footer-wrapper {
            text-align: center;
        }

        .footer-nav {
            margin: 0 auto;
        }

        .footer-contact {
            float: none;
            text-align: center;
            margin: 0 auto;
            padding-top: 20px;
        }

        ul li {
            text-align: center;
        }
    }

}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}


/* HOMEPAGE */
.home-intro {
    min-height: 340px;
    max-width: 60%;
    margin: 0 auto;
    padding: 50px 0;

    h1 {
        margin-bottom: 0em;
    }
}

.work {
    background: $light-grey;

    #projects {
        margin: 0 auto;
        width: 850px;
        height: 1220px;

        @include media-query(850px) {
            width: 100%;
        }

        @include media-query($medium) {
            height: 1100px;
        }

        @include media-query($small) {
            height: 1925px;
        }
    }
}

.sample-projects {
    background: $light-grey;
    margin-top: 75px;

    .sample-projects-wrapper {
        margin: 0 auto;
        width: 850px;
        height: 305px;

        @include media-query(850px) {
            width: 100%;
        }

        @include media-query($medium) {
            height: 275px;
        }

        @include media-query($small) {
            height: 550px;
        }
    }

    #next_project, #previous_project {
        .project-tile .overlay {
            display: block;
        }

        .project-info {
            display: none;
        }
    }

    #next_project .navigation.next:before {
        content: 'next project';
    }

    #previous_project .navigation.previous:before {
        content: 'previous project';
    }

    #next_project .navigation, #previous_project .navigation {
        position: absolute;
        top: 60%;
        transform: translate(-50%, -50%);
        color: $white;
        font-weight: 700;
        -webkit-transition: background-position 0.5s; /* Safari */
        transition: background-position 0.5s;
    }

    #next_project .navigation {
        left: 74%;
        width: 180px;
        height: 130px;
        font-size: 3em;
        background: url(../assets/img/right-arrow.png) no-repeat;
        background-size: 50px 30px;
        background-position: 86% 40%;

        @include media-query($medium) {
            left: 67%;
        }
    }

    #next_project:hover {
        .navigation {
            background-position: 100% 40%;
        }
    }

    #previous_project .navigation {
        left: 22%;
        text-align: right;
        font-size: 1.8em;
        width: 146px;
        height: 109px;
        background: url(../assets/img/left-arrow.png) no-repeat;
        background-size: 25px 15px;
        background-position: 11% 30%;

        @include media-query($medium) {
            left: 27%;
        }
    }

    #previous_project:hover {
        .navigation {
            background-position: 0% 30%;
        }
    }
}

.project-tile {
    height: 305px;
    width: 49.75%;
    cursor: pointer;
    float: left;
    position: relative;

    .overlay {
        display: none;
    }

    &:hover {

        .overlay {
            display: block;
            float: left;
        }
    }

    @include media-query($medium) {
        height: 275px;
    }

    @include media-query($small) {
        height: 275px;
        width: 100%;
    }

    .project-image {
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    .background-color {
        position: absolute;
        top: 0;
        background: rgba(213,3,143,0.4);
        width: 100%;
        height: 100%;
        transition: background 0.25s; 
        -webkit-transition: background 0.25s;
        -moz-transition: background 0.25s;
        -o-transition: background 0.25s;
    }

    .project-info {
        position: absolute;
        width: 80%;
        top: 60%;
        left: 48%;
        transform: translate(-50%, -50%);

        h2, h4 {
            margin-bottom: 0.25em;
        }

    }

    .display {
        margin: 0 auto 0.5em;
    }
}


/* PROJECT */


/* Project grid */

.project-content {
    margin-top: 75px;
}

.project {

    .intro {
        height: 500px;
        overflow: hidden;

        @include media-query($medium) {
            height: 480px;
        }

        @include media-query($small) {
            overflow: visible;
            height: auto;
        }

        .hero-image {
            height: 100%;
            background-size: cover;
            border-top: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;

            @include media-query($small) {
                height: 300px;
            }

            @include media-query($smallest) {
                height: 200px;
            }
        }
    }

    .blurb {
        font-weight: 300;
        font-size: 1.2em;
        line-height: 1.8em;
    }

    a {
        border-bottom: 1px solid $accent-color;

        &:hover {
            border-bottom: 1px solid $accent-dark;
        }
    }

    h2, h3, p, figcaption, h1, .blurb {
        width: 66%;
        margin-left: auto;
        margin-right: auto;

        @include media-query($medium) {
            width: 100%;
        }
    }

    img {
        width: 100%;
    }

}

.scrollBlock {
    height: 600px;
    overflow-y: scroll;
    width: 80%;
    margin: $spacing-unit*2 auto 0;
    border-top: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;

    img {
        vertical-align: top;
        margin: 0 2% !important;
        border: 1px solid $light-grey;
        width: 45%;
    }
}


.about-body {
    background: url(../assets/img/about.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.about {
    min-height: 800px;

    #bio {
        float: right;
        width: 50%;
        margin-top: 10em;
        margin-right: 30px;
        margin-bottom: 10em;
    }
}

.contact {
    width: 250px;
    border-radius: 10px 50px 10px 50px;
    overflow: hidden;
    background: #f1f1f1;
    float: left;

    .julie {
        width: 100%;
        height: 250px;
        border-radius: 10px 50px 0px 0px;
        background-image: url(/assets/img/julie.jpg);
        background-size: cover;
        background-position: center center;

        img {
            width: 100%;
        }
    }

    ul {
        list-style-type: none;
        width: 250px;
        margin-left: 15%;
        margin-bottom: 0.5em;

        a span {
            font-size: 13px;
            font-weight: 400;
            color: $text-color;

            &:hover {
                color: $accent-color;
            }
        }

        li {
            font-size: 13px;
            border-bottom: 1px dashed $light-grey;
            padding: 10px 0;
            width: 100%;
            height: 30px;

            span {
                vertical-align: top;
            }

            &:last-child {
                border-bottom: 0px;
            }

            &:first-child {
                font-size: 16px;
                font-weight: 700;
            }

            .icon {
                display: inline-block; 
                margin-right: 10px;

                img {
                    width: 20px;
                    height: auto;
                    padding: 5px 0;
                }
            }
        }

    }

    @include media-query($large) {
        width: 230px;
        margin: 0 30px 20px 0;
    }
    @include media-query($smallest) {
        height: auto;

        .julie {
            height: 250px;
        }

        .julie, ul {
            display: block;
            width: 100%;
        }

        ul {
            margin-left: 10%;
            li {
                font-size: 14px;
            }
        }
    }
}