.project-header {

	height: 600px;
	overflow: hidden;
	position: relative;

	@include media-query($large) {
	     height: 400px;
	}


	.project-title {
		background: $background-color;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 700px;
		padding: 40px 20px;

		@include media-query($medium) {
 			width: auto;
		}
	}

	.project-image {
		position: relative;
		top: 0;
		left: 0;
		z-index: -500;
		height: 100%;

		img {
			width: 100%;
		}
	}
}

.project-content {

	a {
		border-bottom: 1px solid $accent-color;

		&:hover {
			border-bottom: 1px solid $accent-dark;
		}
	}

	h2, h3, p, figcaption {
		width: 700px;
		margin-left: auto;
		margin-right: auto;

		@include media-query($medium) {
     		width: 100%;
		}
	}

	img {
		width: 100%;
	}

}