/**************/
/*    TEXT    */
/**************/
body {
    font: $base-font-weight #{$base-font-size} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    width: 100%;
    height: 100%;
}


/*  Headings  */
h1, h2, h3 {
    color: $text-color;
}

.display {
    font-size: 4em;
    color: $white;
}

h1 { 
    font-size: 2.8em;
    font-family: $header-font-family;
    font-weight: 500;
}

h2 { 
    font-size: 2em;
    font-weight: 700;
    margin-top: 3em;
    color: #3a3a3a;
}

h3 { 
    font-size: 1.2em; 
    margin-top: 0em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 400;

    span {
        margin: 0 7px;
    }
}

h1, h2, p, ul, ol, figure {
    margin-bottom: 18px;
}

p, ul, ol { 
    font-size: 1.8em;
    line-height: 30px;
}

figcaption {
    font-size: 1.5em;
    font-weight: 700;
}

.on-black {
    color: $white;
}


/* Lists */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/* Highlighting */
::selection {
  background: $dark-grey; /* WebKit/Blink Browsers */
  color: $white;
}

::-moz-selection {
  background: #dark-grey; /* Gecko Browsers */
  color: $white;
}


/*  Links   */
a {
    color: $accent-color;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;

    &:visited {
        color: $accent-dark;
    }

    &:hover {
        color: $text-color;
    }

}