---
layout: without-bleed
---

<section class="project">
	<div class="intro">
		<div class="hero-image" style="background: url({{ page.images[0].url }}) no-repeat fixed; background-size: cover; background-position: center center;"></div>
	</div>
	<div class="project-content wrapper">
		<p><span class="h1">{{ page.title }} </span><span class="blurb">{{ page.description }}</span></p>
		<p>I was the {{ page.role }} for this project done at {{ page.organization }} in {{ page.year }}.</p>
		{{ content }}
	</div>
	<div class="project-sample">
		{% include next-project.html order=page.order %}
	</div>
</section>
